@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: #F8F8F8;
      --foreground: #4F4B5C;
       /* colors */
      --primary: #7357FF;
      --primary-100: #5939fa;
      --secondary: #4F4B5C;
      --secondary-50: #E2E2E4;
      --secondary-75: #ECECED;
      --secondary-100: #110C22;
      --secondary-125: #8a8a8a;
    }
}

@layer base {
    * {
      margin: 0;
      bottom: 0;
      box-sizing: border-box;
    }
    body {
      @apply bg-background text-foreground;
      font-family: "General Sans","Plus Jakarta Sans", sans-serif;
    }
  }